H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff6600; FONT-FAMILY: Arial
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial;
}
TH {
	FONT-SIZE: 16px; COLOR: #008080; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
A {
	FONT-FAMILY: Arial; COLOR: #0000FF
}
